{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet"
          href="{% static 'tickets/style.css' %}">

</head>

<body>

<div class="container">

    <h1>Student Support System</h1>

    <h2>Login</h2>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <label>Username</label>

        <input
            type="text"
            name="username"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

</div>

</body>

</html>